@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-main: rgb(93, 105, 86, 1);
    --color-boton: #AD6343;
    --color-fondo: #EDE5DF;
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--color-fondo);
    margin: .5rem;
    border-radius: .5rem;
    border: 1px solid black;
}

.nav_color {
    background-color: var(--color-fondo);
    
}

.container_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-main);
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    border: 1px solid black;
    
}

.img_logo_fashion {
    margin: .5rem;
    border-radius: .5rem;
    border: 1px solid black;
}

.imagen_logo {
    height: 20rem;

}

.titulo_catalogo {
    font-weight: bold;
    background-color:var(--color-fondo) ;
    padding: 1rem;
    border-radius: 1rem;
}

.menu_categorias {
    display: flex;
    flex-direction: column;
    
}

.boton_categorias {
    width: 7rem;
    height: 3rem;
    border-radius: .8rem;
    text-align: center;
    background-color: var(--color-fondo);
    margin-bottom: .8rem;   
    cursor: pointer;  
    
}

.boton_categorias_carrito {
    width: 7rem;
    height: 3rem;
    border-radius: .8rem;
    text-align: center;
    background-color: var(--color-fondo);
    margin-bottom: .8rem;   
    cursor: pointer;  

}

.icono_carrito {
    margin-right: 1rem;
}

/* main */

.main_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: .5rem;
    border-radius: .5rem;
    
}

.producto_imagen {
    max-width: 100%;
    border-radius: 1rem;
    
}

.producto_detalles {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--color-boton);
    border-radius: .5rem;
    color: var(--color-fondo);
    padding: .5rem;
    margin-top: -2rem;
    position: relative;
    
}

.producto_titulo {
    font-size: 1rem;
}

.producto_agregar {
    border: 0;
    background-color: var(--color-fondo);
    border-radius: .5rem;
    width: 9rem;
    cursor: pointer;
    border: 1px solid var(--color-fondo);
}

.producto_agregar:hover {
    background-color: var(--color-main);
    color: var(--color-fondo);
} 

.producto_eliminar {
    border: 0;
    background-color: var(--color-fondo);
    border-radius: .5rem;
    width: 9rem;
    cursor: pointer;
    border: 1px solid var(--color-fondo);
}

.producto_eliminar:hover {
    background-color: var(--color-main);
    color: var(--color-fondo);
} 

/* Carrito */

.carrito_vacio {
    background-color: rgb(146, 176, 128);
    padding: 1rem;
    margin: .3rem;
}

.carrito_vacio h1 {
    font-size: 1.3rem;
}

.titulo_carrito_compras {
    background-color: rgb(146, 176, 128);
    padding: 1rem;
    margin: 1.5rem 1rem 4rem 1rem;
    border-radius: .5rem;
    border: 1px solid black;

}

.carrito_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    margin: 1rem;    
     
}

.totalCompra {
    background-color: rgb(146, 176, 128);
    font-weight: bold;
    padding: .5rem;
    margin: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    border: 1px solid black;
    width: 17rem;
    
}


/* Formulario */

.formulario_container {
    background-color: #EDE5DF;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    margin: .3rem;
    border: 1px solid black;
    border-radius: .5rem;

}

/* footer */

.copy_container {
    background-color: var(--color-main);
    height: 2rem;
    margin: .3rem;
    border: 1px solid black;
    border-radius: .5rem;
    
}

.copy_container p {
    padding-top: .5rem;
    text-align: center;
    font-size: .8rem;
}